<div style="clear: both;"/>
<footer class="site-footer">

<p>
     <center>
        <div align="center" style="width:20%">
            <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=FSz3HubeG20xtkKYb9B7lnjjTXadpsk42ijWZ_5VkkM"></script>
        </div>


    <div>
        <script>
            var lastModTime = new Date(document.lastModified);
            document.write("Last Updated: " + lastModTime)
        </script>
        <br>
        Template borrowed from <a href="https://lilianweng.github.io/">Lilian Weng</a>, &copy; 2023 Pin Qian.
    </div>
</center>
</p>

    <!-- <p>
        <a href="https://github.com/pinqian77" target="_blank">
            <img src="{{ '/assets/images/logo_github.png' | relative_url }}" />
        </a>
        <a href="https://www.instagram.com/campion_77/" target="_blank">
            <img src="{{ '/assets/images/logo_instagram.png' | relative_url }}" />
        </a>
        <a href="https://twitter.com/qian_pin/" target="_blank">
            <img src="{{ '/assets/images/logo_twitter.png' | relative_url }}" />
        </a>
    </p> -->
</footer>
