<div style="clear: both;"/>
<footer class="site-footer">
    Template borrowed from <a href="https://lilianweng.github.io/">Lilian Weng</a>. View on <a href="{{ '/tags.html' | relative_url }}">Tags</a> | <a href="{{ '/contact.html' | relative_url }}">Contact</a><br/>
    &copy; 2023 Pin Qian.

    <!-- <p>
        <a href="{{ site.baseurl }}/feed.xml" target="_blank">
            <img src="{{ '/assets/images/logo_rss.png' | relative_url }}" />
        </a>
        <a href="https://github.com/pinqian77" target="_blank">
            <img src="{{ '/assets/images/logo_github.png' | relative_url }}" />
        </a>
        <a href="https://www.instagram.com/campion_77/" target="_blank">
            <img src="{{ '/assets/images/logo_instagram.png' | relative_url }}" />
        </a>
        <a href="https://twitter.com/qian_pin/" target="_blank">
            <img src="{{ '/assets/images/logo_twitter.png' | relative_url }}" />
        </a>
    </p> -->
</footer>
